@import url(http://fonts.googleapis.com/css?family=Merriweather);
@import url(http://fonts.googleapis.com/css?family=Proza+Libre);
body {
    font-family: "Proza Libre";
    margin: 48px;
}

h1 {
    font-family: Arial, Verdana;
    font-size: 28px;
    letter-spacing: 0.3em;
    color: #241c15;
    padding-top: 32px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h2 {
    font-family: Arial, Verdana;
    font-size: 14px;
}

h1:after {
    content: ' ';
    display: block;
    border: 0.5px solid #ECECEC;
}

fieldset {
    border: 1px solid skyblue;
}

input[type=submit] {
    font-family: "Proza Libre";
    font-size: 1em;
    font-weight: bold;
    color: white;
    letter-spacing: 0.2em;
    border: none;
    background-color: #428bca;
    margin: 4px 2px;
    padding: 4px 16px;
}

input[type=text],
input[type=tel],
input[type=date],
select,
textarea {
    font-family: "Proza Libre";
    font-size: 1em;
}

xmp {
    font-size: 14px;
}

* {
    box-sizing: border-box;
}


/* Create three equal columns that floats next to each other */

.column {
    float: left;
    margin: 5px;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

.modal {
    /* width: 935px; */
    flex-basis: 935px;
    flex-shrink: 0;
    flex-basis: 0;
    margin: 0;
    padding: 0;
}


/* #myModal {
    flex-basis: 935px;
    margin: 0;
    padding: 0;
} */

.modal-body {
    padding: 0;
    margin: 0;
}

.container-fluid {
    padding: 0;
    margin: 0;
}

.modal-lg {
    max-width: 935px;
    min-width: 475px;
}

#modal-foot {
    background-image: "img/modal-footer.jpg";
    background-repeat: no-repeat;
    background-size: auto;
    position: absolute;
    bottom: 0;
}

.avatar {
    width: 32px;
    height: 32px;
}

#modal-img {
    width: 600px;
    height: 600px;
}

.ui {
    margin: 0;
    padding: 0;
}


/* On screens that are 992px wide or less, go from four columns to two columns */

@media screen and (max-width: 767px) {
    .column {
        width: 50%;
    }
}


/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */

@media screen and (max-width: 480px) {
    .column {
        width: 100%;
    }
    .modal {
        width: 470px;
        flex-basis: 480px;
        flex-grow: 0;
        flex-shrink: 0;
        margin: 0;
        padding: 0;
    }
    .ui {
        display: none;
        visibility: none;
    }
    /* .ui .col-lg {
        display: none;
        visibility: none;
    } */
    /* .ui,
    .comments {
        display: none;
        visibility: none;
    } */
    .modal-lg {
        max-width: 480px;
        width: 480px;
    }
    #myModal-foot {
        position: absolute;
        bottom: 0;
        width: 470px;
        background-repeat: no-repeat;
        background-size: 470px 133px;
    }
    #modal-img {
        max-width: 480px;
        width: 470px;
        height: 470px;
    }
}